In [5]:
import pandas as pd
import sqlite3 as db

In [12]:
con = db.connect('accounts.db')
df_employees = pd.read_sql_query('select * from decay_amount', con)
df_employees

DatabaseError: Execution failed on sql 'select * from decay_amount': no such table: decay_amount